{% extends 'base.html' %}

{% block content %}

<b>Welcome, {{user.username}}</b>

<table>
</table>

<button><a href="{% url 'todolist:create_task' %}">Create Task</a></button>

<table>
    <tr>
    <th>User</th>
    <th>Release Date</th>
    <th>Title</th>
    <th>Description</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for data in list_data %}
        <tr>
        <th>{{data.user}}</th>
        <th>{{data.date}}</th>
        <th>{{data.title}}</th>
        <th>{{data.description}}</th>
        </tr>
    {% endfor %}
</table>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
{% endblock content %}